= three_weeks_logo  
- @grouped.each do |location, posts|
  - posts.each do |post|
    - if @all_grouped[location].first == post
      %h1.index= location
    %p.post
      %a{:href => '/' + post.slug}
        = post.title
= next_page @posts, "/index?page=#{@posts.next_page}"
= previous_page @posts, "/index?page=#{@posts.previous_page}"