- @title = @post.title + ': photos'
= three_weeks_logo  
%h1.title
	%a{:href => '/' + @post.slug }
	  = @post.title + ', ' + @post.created_at.strftime("%d/%m/%Y") + '.'
%ul{:id => 'photos'}
  - @photos.each do |photo|
    %li
      %a{:href => photo.image.url }
        %img{:src => photo.polaroid_path, :alt => photo.image_file_name }
= next_page @photos, "/#{@post.slug}/photos?page=#{@photos.next_page}"
= previous_page @photos, "/#{@post.slug}/photos?page=#{@photos.previous_page}"
