= three_weeks_logo  
%h1.title All pictures
- @posts.each do |post|
  %a{:href => "/#{post.slug}/photos"}
    %img{:src => post.montage_path, :alt => post.title}
= next_page @posts, "/pics?page=#{@posts.next_page}"
= previous_page @posts, "/pics?page=#{@posts.previous_page}"